{% extends "dj/_base.html" %}

{% block content %}
<h1 class="text-center">Add songs</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Youtube search</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="#">{% csrf_token %}
      {% if results %}
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" name="title" class="form-control" placeholder="mandatory" required>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">Artist</span>
            <input type="text" name="artist" class="form-control" placeholder="optional">
          </div>
        </div>
      </div>
      </br>
      {% for r in results %}
      <button type="submit" name="link" value="{{r.link}}" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </button>
      {{r.title}} (<a href="https://www.youtube.com/watch?v={{r.link}}">{{r.link}}</a>)
      <br/>
      <br/>
      {% endfor %}
      {% else %}
      <div class="row">
        <div class="col-xs-10">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-expand"></span></span>
            <input type="text" name="search" class="form-control"
            placeholder="Search term or youtube link" required>
          </div>
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-default" style="width: 100%">Search</button>
        </div>
      </div>
      {% endif %}
    </div>
  </form>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Songs waiting for validation</h3></div>
  <div class="panel-body">
    {% for song in pending %}
    {% if song.artist %}{{song.artist}} - {% endif %} {{song.title}}
    <span style="float: right"><a href="https://www.youtube.com/watch?v={{song.link}}">{{song.link}}</a></span><br/>
    {% endfor %}
  </div>
</div>
{% endblock content %}
