{% extends "dj/_base.html" %}

{% block content %}
<h1 class="text-center">Add songs</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search <span style="color: red">(look if it's not
        already available before…)</span></h3>
  </div>
  <span id="results">
  {% include "dj/add_search.html" %}
  </span>
</div>
{% if user.is_superuser %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Upload</h3></div>
  <span id="upload">
  {% include "dj/add_upload.html" %}
  </span>
</div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Songs waiting for validation</h3></div>
  <span id="pending">
  {% include "dj/add_pending.html" %}
  </span>
</div>
{% endblock content %}
