<header class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="{% url 'dj.index' %}">DJ Ango - listen on mpd.zeletochoy.fr</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'dj.vote' 1 %}">
        <span class=" glyphicon glyphicon-thumbs-up"></span> Vote</a>
      </li>
      <li><a href="{% url 'dj.add'%}">
        <span class=" glyphicon glyphicon-cloud-upload"></span> Add song</a>
      </li>
      {% if user.is_superuser %}
      <li><a href="{% url 'dj.validate'%}">
        <span class=" glyphicon glyphicon-ok"></span> Validate</a>
      </li>
      {% endif %}
      <li><a href="{% if user %}{% url 'dj.logout' %}{% else %}{% url 'dj.login' %}{% endif %}">
        <span class="glyphicon glyphicon-user"></span> {% if user %}{{user.username}}{% else %}Log in{% endif %}</a>
      </li>
    </ul>
  </div>
</header>
