{% load rules %}

<header class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="{% url 'dj:index' %}">DJ Ango</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'dj:index' %}">
        <i class="fa fa-volume-up"></i> Now playing</a>
      </li>
      <li><a href="{% url 'dj:vote' %}">
        <i class="fa fa-thumbs-up"></i> Vote</a>
      </li>
      <li><a href="{% url 'dj:suggest'%}">
        <i class="fa fa-cloud-upload"></i> Suggest</a>
      </li>
    {% has_perm 'dj.validate_song' request.user as can_validate_songs %}
    {% if can_validate_songs %}
      <li><a href="{% url 'dj:validate'%}">
        <i class="fa fa-check"></i> Validate</a>
      </li>
    {% endif %}
      <li><a href="{% if request.user.is_authenticated %}{% url 'dj:logout' %}{% else %}{% url 'dj:login' %}{% endif %}">
        <i class="fa fa-user"></i> {% if request.user.is_authenticated %}{{request.user.username}}{% else %}Log in{% endif %}</a>
      </li>
    </ul>
  </div>
</header>
