{% extends "dj/_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Playlist</h3></div>
          <div class="panel-body">
            <!--
            {% if user.is_superuser %}
            <form method="post" action="#">{% csrf_token %}
              <h4>Volume:
                <div style="float: right">
                  <input id="sl1" class="span2" type="text" data-slider-min="0" data-slider-value="{{volume}}"
                  data-slider-max="100" data-slider-step="1"style="float: right" name="volume"></input>
                  <button type="submit" class="btn btn-default btn-xs">Ok</button>
                </div>
              </h4>
            </form>
            <script>$('#sl1').slider()</script>
            <hr>
            {% endif %}
            --!>
            <h4>Player</h4>
            <audio controls loop style="width: 100%">
              <source src="http://mpd.zeletochoy.fr/mpd.ogg" type="audio/ogg">
              Your browser does not support the audio element.
            </audio> 
            <hr>
            <h4>Now Playing</h4>
            <span id="now-playing">
            {% include "dj/now_playing.html" %}
          </span>
            <hr>
            <h4>Next</h4>
            {% for song in songs %}
            <form method="post" action="#">{% csrf_token %}
              {% if song.artist and song.artist.name != "Unknown" %}{{song.artist}} - {% endif %}{{song.title}}
              <span style="float: right">
                <span class="badge">{{song.votes__count}}</span>
                <input type="hidden" name="id" value="{{song.id}}"></input>
                {% if user in song.votes.all %}
                <input type="hidden" name="todo" value="remove"></input>
                <button type="submit" class="btn btn-danger btn-xs">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                </button>
                {% else %}
                <input type="hidden" name="todo" value="add"></input>
                <button type="submit" class="btn btn-success btn-xs">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                </button>
                {% endif %}
              </span>
            </form>
            </br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
