{% extends "dj/base.html" %}
{% load rules %}

{% block title %}Now playing{{ block.super }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <h4>Now playing</h4>
            <div id="stub-now-playing">
            {% include "dj/index_stub_now_playing.html" %}
            </div>
            {% has_perm 'dj.skip_song' request.user as can_skip_song %}
            {% has_perm 'dj.set_volume' request.user as can_set_volume %}
            {% if can_set_volume or can_skip_song %}
              <hr>
              <h4>Control panel</h4>
              {% if can_set_volume %}
                <p>Volume: <input type="range" min="0" max="100" id="volume" value="{{ volume }}">
                </p>
              {% endif %}
              {% if can_set_volume %}
                <form action="{% url 'dj:skip' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" name="skip" class="btn btn-warning">
                    <i class="fa fa-forward"></i> Skip song
                  </button>
                </form>
              {% endif %}
            {% endif %}
            <hr>
            <h4>Coming next</h4>
            <div id="stub-playing-next">
              {% include "dj/index_stub_playing_next.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
