{% if is_paginated %}
  <div class="text-center">
    <ul class="pagination pagination-centered">
      <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
        <a href="?page=1">
          <i class="fa fa-angle-double-left"></i></a></li>
      <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
        <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
          <i class="fa fa-angle-left"></i></a></li>

      {% for i in paginator.page_range %}
        <li {% if page_obj.number == i %}class="active"{% endif %}><a
          href="?page={{ i }}">{{ i }}</a></li>
      {% endfor %}

      <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
        <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
          <i class="fa fa-angle-right"></i></a></li>
      <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
        <a href="?page={{ page_obj.paginator.num_pages }}">
          <i class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
{% endif %}
