{% extends "dj/base.html" %}

{% block title %}Suggest songs{{ block.super }}{% endblock %}

{% block content %}

  <h1 class="text-center">Suggest songs</h1>

  {% include "dj/suggest_stub_search.html" %}

  {% comment %}
  {% if user.is_superuser %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Upload</h3></div>
      {% include "dj/suggest_stub_upload.html" %}
    </div>
  {% endif %}
  {% endcomment %}
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Songs waiting for
      validation</h3></div>
    {% include "dj/suggest_stub_pending.html" %}
  </div>

{% endblock %}
