{% extends "dj/base.html" %}

{% block title %}Vote for next song{{ block.super }}{% endblock %}

{% block content %}

  <h1 class="text-center">Vote for next song</h1>

  <form method="get" class="full-form">
    <div class="input-group">
      <input type="search" name="q" class="form-control" accesskey="s"
             value="{{ request.GET.q }}"
             placeholder="Search available songs (Alt-s)">
      <span class="input-group-btn">
        {% if request.GET.q %}
          <a class="btn btn-default" href="?q=" accesskey="c" title="Clear search (Alt-c)"><i class="fa fa-times"></i></a>
        {% endif %}
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
          Search
        </button>
      </span>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Duration</th>
      <th>Votes</th>
      <th>Act</th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
      <tr>
        <td>{{ song.artist }}</td>
        <td>{{ song.title }}</td>
        <td>{{ song.human_duration }}</td>
        <td>{{ song.vote_count }}</td>
        <td>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="song_id" value="{{ song.pk }}">
            <input type="hidden" name="next"
                   value="{% url 'dj:vote' %}?q={{ request.GET.q }}">
            {% if request.user in song.votes.all %}
              <button class="btn btn-danger btn-xs" name="action"
                      value="remove">
                <i class="fa fa-thumbs-down"></i>
              </button>
            {% else %}
              <button class="btn btn-success btn-xs" name="action" value="add">
                <i class="fa fa-thumbs-up"></i>
              </button>
            {% endif %}
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include "dj/stub_pagination.html" %}

{% endblock %}
